<section data-ng-controller="StepsController">
	<div class="boxed text-center">
		<h3>Library Quantification</h3>
		<h4>Procedure:</h4>
		<table class="table table-striped" ng-class="grayOut ? 'gray-out' : ''" ng-disabled="grayOut">
			<tr>
				<td>1. Add standards to plate wells using automated pipette</td>
			</tr>
			<tr>
				<td>2. Add samples to respective wells
					<p>
						Manually adjust tips position if necesarry
					</p>
				</td>
			</tr>
			<tr>
				<td>3. Add dye</td>
			</tr>
			<tr>
				<td>4. Spin down plates</td>
			</tr>
			<tr>
				<td>5. Open software</td>
			</tr>
			<tr>
				<td>6. Export and save file as: <b>File</b></td>
			</tr>
			<tr>
				<td>7. Translate Data</td>
			</tr>
			<tr>
				<td>8. Create new file</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-primary" ng-click="grayOut = true;" ng-dialog="modules/core/templates/popupdialog.client.view.html" ng-dialog-controller="StepsController">
						Confirm
					</button>
				</td>
			</tr>
		</table>
	</div>
</section>
