<section data-ng-controller="StepsController">
	<div class="boxed text-center" ng-class="grayOut ? 'gray-out' : ''" ng-disabled="grayOut">
		<h3>PCR Enrichment</h3>
		<h4>Procedure:</h4>
		<table class="table table-striped">
			<tr>
				<td>1. Scan plate barcode</td>
			</tr>
			<tr>
				<td>2. Turn on Thermocycler and program it with the following
				thermal profile (PCR_ENRICH):</td>
			</tr>
			<tr>
				<td>3. Prepare the master mix with the reagents below in a 1.7 mL tube, for the
				number of SAMPLES = {{numberOfSamples}}</td>
			</tr>
			<tr>
				<td>4. ??? </td>
			</tr>
			<tr>
				<td>5. <b>ROBOT: </b>
			</tr>
			<tr>
				<td>6. Cover the plate with a lid, vortex for 5s and spin for 15s</td>
			</tr>
			<tr>
				<td>7. Place in the pre-set thermocycler, and click <b>Run</b> (or <b>Play</b>)</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-primary" ng-click="grayOut = true;" ng-dialog-close-previous ng-dialog="modules/core/templates/popupdialog.client.view.html" ng-dialog-controller="StepsController">
						Confirm
					</button>
				</td>
			</tr>
		</table>
	</div>
</section>
