<section data-ng-controller="StepsController">
    <div class="boxed text-center" ng-class="grayOut ? 'gray-out' : ''" ng-disabled="grayOut">
    <h3>DNA Quantification</h3>
	<h4>Procedure:</h4>
		<table class="table table-striped">
			<tr>
				<td>1. Add Quantification mastermix</td>
			</tr>
			<tr>
				<td>2. Add samples to respective wells (each sample will have 2 reps)</td>
			</tr>
			<tr>
				<td>3. Add DNA dye</td>
			</tr>
			<tr>
				<td>4. Incubate</td>
			</tr>
			<tr>
				<td>5. Run Software</td>
			</tr>
			<tr>
				<td>6. Export and save file</td>
			</tr>
			<tr>
				<td>7. Translate data</td>
			</tr>
			<tr>
				<td>8. Use for normalization</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-primary" ng-click="grayOut = true;" ng-dialog="modules/core/templates/popupdialog.client.view.html" ng-dialog-controller="StepsController">
						Confirm
					</button>
				</td>
			</tr>
		</table>
    </div>
</section>
