<section data-ng-controller="StepsController">
	<div class="boxed text-center" ng-class="grayOut ? 'gray-out' : ''" ng-disabled="grayOut">
		<h3>Sequencing</h3>
		<h4>Procedure:</h4>
		<table class="table table-striped">
			<tr>
				<td>1. ??? </td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-primary" ng-click="grayOut = true;" ng-dialog="modules/core/templates/popupdialog.client.view.html" ng-dialog-controller="StepsController">
						Confirm
					</button>
				</td>
			</tr>
		</table>
	</div>
</section>
