<section data-ng-controller="StepsController">
	<div class="boxed text-center">
		<h3>DNA Shearing</h3>
		<h4>Procedure:</h4>
		<table class="table table-striped">
			<tr>
				<td>1. Scan the barcode</td>
			</tr>
			<tr>
				<td>2. Turn on chiller</td>
			</tr>
			<tr>
				<td>3. ????</td>
			</tr>
			<tr>
				<td>4. Prepare Sonicator</td>
			</tr>
			<tr>
				<td>5. Prepare Sonicator</td>
			</tr>
			<tr>
				<td>6. Select <b>Run</b>, and press <b>Start</b> at the designated time</td>
			</tr>
			<tr>
				<td>7. Place plate in freezer, or proceed immediately to step 5</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-primary" ng-click="incrementPlates()">
					    Confirm
					</button>
				</td>
			</tr>
		</table>
	</div>
</section>
