<section data-ng-controller="ProjectsController" data-ng-init="findOne()" xmlns="http://www.w3.org/1999/html">
    <div class="min-content-width" ng-class="grayOut ? 'gray-out' : ''" ng-disabled="grayOut">
        <div class="page-header">
            <h2 class="text-center" style="margin: 0 auto;">Manage Project</h2>
        </div>
        <div class="bs-callout" >
            <div class="row overview-row">
                <div class="overview-col-left">
                        <span class="value-pair-left">Project Code</span>
                        <span class="value-pair-right">{{project.projectCode}}</span>
                </div>
                <div class="overview-col-right">
                        <span class="value-pair-left">Due Date</span>
                        <span class="value-pair-right">{{project.due | date}}</span>
                </div>
            </div>
            <div class="row overview-row">
                <div class="overview-col-left">
                    <span class="value-pair-left">Customer</span>
                    <span class="value-pair-right">{{project.customer.name}}</span>
                </div>
                <div class="overview-col-right">
                    <span class="value-pair-left">Last Modified</span>
                    <span class="value-pair-right">{{project.lastEdited | date}}</span>
                </div>
            </div>
            <div class="row overview-row">
                <div class="overview-col-left">
                    <span class="value-pair-left">Organism</span>
                    <span class="value-pair-right">{{project.organism.name}}</span>
                </div>
                <div class="overview-col-right">
                        <span class="value-pair-left">Status</span>
                        <span class="value-pair-right">{{project.projectStatus ? 'Completed':'In Progress'}}</span>
                </div>
            </div>
            <div class="row overview-row">
                <div class="overview-col-left">
                        <span class="value-pair-left">Plates</span>
                        <span class="value-pair-right">{{project.plates.length}}</span>
                </div>
                <div class="overview-col-right">
                    <span class="value-pair-left">Samples</span>
                    <span class="value-pair-right" ng-bind="numSamples()"></span>
                </div>
            </div>
            <div class="row overview-row">
                <div class="overview-col-left">
                    <span class="value-pair-left">Sequencing</span>
                    <span class="value-pair-right">{{project.sequencingMethod}}</span>
                </div>
            </div>
            <br>
            <div class="row overview-row text-center">
                <b>Description</b>
                <div class="well text-left">
                    {{project.description}}
                </div>
            </div>
           <div class="text-center">
                <p><b>Plate Status</b></p>
                <div class="progress center-block noselect" style="width: 42%">
                    <div class="progress-bar progress-bar-striped" ng-repeat="count in latestStepCounts track by $index" style="width: 7.143%" ng-class="{'progress-bar-success': count === project.plates.length, 'progress-bar-warning': count > 0 && count < project.plates.length, 'progress-bar-danger': count === 0}">
                     <span title="Step {{$index + 1}}" data-toggle="popover">
                         <div ng-if="count===project.plates.length && project.plates.length !== 0">
                            &#x2713;
                         </div>
                         <div ng-if="count!==project.plates.length || project.plates.length === 0">
                            {{project.plates.length - count}}
                         </div>
                     </span>
                </div>
            </div>
            <div class="text-center"  data-ng-show="authentication.user._id == project.user._id">
                <hr style="margin: 15px">
                <a class="btn btn-primary" ng-disabled="grayOut" ng-href="/#!/projects/{{project._id}}/edit">
                    Edit
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                &nbsp
                <a id="deleteProjectButton" class="btn btn-danger" data-ng-click="grayOut || confirmRemove();">
                    Delete
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
    </div>
        <br>
         <div ng-if="project.plates.length === 0" class="bs-callout" >
    	    <div class="row">
                <div class="col-xs-4">
                    <label class="control-label">Enter Number of Samples </label>
                </div>
                <div class="col-xs-3">
                    <input data-ng-model="$parent.numberOfSamples" type="text" class="form-control"/>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-primary " data-ng-click="grayOut || generatePlateTemplate()">
                        Generate Plate Template
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>
    	    </div>
        </div>
        <div ng-if="project.plates.length != 0">
            <br>
            <div class="row">
                    <div class="text-center">
			<button class="btn btn-primary" ng-file-select="onFileSelect($files)">
                            Upload Plate Layout
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="bs-callout">
                <h3 class="text-center" style="margin: 2px">Plates</h3>
                <div ng-if="project.plates.length" my-worklist-selected>
                    <table class="table table-striped">
                        <tr>
                            <td>Plate Code</td>
                            <td>Number of Samples</td>
                            <td>Stage</td>
                            <td>Assignee</td>
                            <td></td>
                        </tr>
                        <tr class="aPlate" ng-repeat="plate in project.plates" my-worklist-plate my-plate-object="plate" my-selected-plates="selectedPlates" my-plate-checked="plateChecked" my-clicked-not-on-checkbox="clickNotOnCheckBox" my-clicked-checkbox="clickCheckBox">
                            <td data-ng-click="plate.isAssigned ? alert(0) : clickNotOnCheckBox()">{{plate.plateCode}}</td>
                            <td data-ng-click="plate.isAssigned ? alert(0) : clickNotOnCheckBox()">{{plate.samples.length}}</td>
                            <td data-ng-click="plate.isAssigned ? alert(0) : clickNotOnCheckBox()">{{plate.stage}}</td>
                            <td data-ng-click="plate.isAssigned ? alert(0) : clickNotOnCheckBox()">{{plate.assignee.displayName}}</td>
                            <td ng-if="!plate.isAssigned">
                                <input class="checkbox" type="checkbox" value="checked" data-ng-model="plateChecked" data-ng-click="clickCheckBox()">
                            </td>
                            <td ng-if="plate.isAssigned">
                                <input class="checkbox" type="checkbox" value="checked" data-ng-model="plateChecked" disabled>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="text-center">
                            <button class="btn btn-primary" data-ng-click="addPlates(selectedPlates)">
                                Add selected plates to worklist
                                <i class="glyphicon glyphicon-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>
<script type="text/ng-template" id="deleteConfirmDialog">
    <div class="ngdialog-message">
        <h2>Continue?</h2>
        <h5>This project will be permanently deleted</h5>
    </div>
    <div class="ngdialog-buttons">
        <button id="confirmDeleteButton"type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="remove(project)">Delete Project</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="closeDialog()">Cancel</button>
    </div>
</script>
