<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.projectCode"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == project.user._id">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="confirmRemove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Last modified by: 	
			<span data-ng-bind="project.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="project.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="project.description"></p>
</section>
<script type="text/ng-template" id="deleteConfirmDialog">
	<div class="ngdialog-message">
		<h2>Continue?</h2>
		<h5>This project will be permanently deleted</h5>
	</div>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="remove()">Delete Project</button>
		<button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="closeDialog()">Cancel</button>
	</div>
</script>
