mean/.DS_Store
mean/.nodemonignore
mean/.sass-cache/
mean/npm-debug.log
mean/node_modules/
mean/public/lib
mean/app/tests/coverage/
mean/.bower-*/
mean/.idea/
.idea/
*.swp
mean/app/secure/password.txt
mean/app/tmp
bower_components/
