<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="NGS_LIMS" class="img-responsive text-center" src="modules/core/img/brand/NGSLogo.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Laboratory Information Management System for Next-Generation Sequencing
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Continue to Projects</a>
			</p>
			<p> 
				THIS IS A PLACE HOLDER FOR LOGIN SCREEN 
			</p>
		</div>
	</div>
	<div>
		<h2>Welcome to LIMS for Next-Generation Sequencing.</h2>
		<p>This application tracks samples, species, and projects status.</p>
		<ul>
			<li>
				Click
				<em>Login</em>
				to get started with your projects.
			</li>
		</ul>
	</div>
		
	<br>Any problems, please file an issue at:
	<br>https://github.com/dejesus2010/CEN3031Project
</section>
