<section data-ng-controller="HomeController">
	<div class="text-center">
    <br>
    <h3>
        Welcome to the Next-Generation Sequencing LIMS!
    </h3>
    <br>
    <img alt="NGS_LIMS" class="img-responsive img-rounded" src="modules/core/img/brand/NGSLogo.jpg" style="margin: 0 auto;" />
    <br>
        <h4>Open-Source Laboratory Information Management System</h4>
    <br>
        <a class="btn btn-primary btn-lg" href="/#!/projects" target="_self">Continue to Projects</a>
	<br>
    <br>
        If you encountary any problems, please file an issue on our github page:
    <br>
	<a href="https://github.com/dejesus2010/CEN3031Project">https://github.com/dejesus2010/CEN3031Project</a>
    </div>
</section>
