<section data-ng-controller="WorklistController" data-ng-init="init()">
	<div class="page-header">
		<h1>Work List</h1>
	</div>
	<div class="container">

		<div ng-if="!platesExist">
			There are no plates in your work list
		</div>

		<div class="boxed" ng-repeat="plates in groupOfPlates" ng-if="plates.length > 0" my-worklist-selected>

			<div>
				<h3>{{stageNumberToName[plates[0].stage]}}</h3>
				<button type="button" class="btn btn-default performButton" data-ng-click="directToPage(stageNumberToUrl[plates[0].stage], selectedPlates)">Perform selected</button>
			</div>
			<table class="table table-striped">
				<tr>
					<td>Remove from Work List</td>
					<td>Plate Code</td>
					<td>Number of Samples</td>
					<td></td>
				</tr>

				<tr class="aPlate" ng-repeat="plate in plates" my-worklist-plate my-remove-plate-function="removePlate" my-plate-object="plate" my-selected-plates="selectedPlates" my-plate-checked="plateChecked" my-clicked-not-on-checkbox="clickNotOnCheckBox" my-clicked-checkbox="clickCheckBox">
					<td>
						<button class="btn btn-default" data-ng-click="removePlate()">Remove</button>
					</td>
					<td data-ng-click="clickNotOnCheckBox()">{{plate.plateCode}}</td>
					<td data-ng-click="clickNotOnCheckBox()">{{plate.samples.length}}</td>
					<td>
						<input class="checkbox" type="checkbox" value="checked" data-ng-model="plateChecked" data-ng-click="clickCheckBox()">
					</td>
				</tr>
			</table>
		</div>
		<br>
	</div>
</section>
