<section data-ng-controller="WorklistController" data-ng-init="init(); showEdit = false">
	<div class="page-header">
		<h1>Work List</h1>
	</div>
	<div class="container">

		<div ng-if="!platesExist">
			There are no plates in your work list
		</div>

		<div class="boxed" ng-repeat="stagePlates in groupOfPlates" ng-if="stagePlates.length > 0" my-worklist-selected>

			<div class="row">
				<div class="col-xs-6 col-xs-6 col-sm-9 col-md-10">
					<h3>{{stageNumberToName[stagePlates[0].stage]}}</h3>
					<a data-ng-click="showEdit = !showEdit">{{showEdit ? 'done' : 'edit'}}</a>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2">
					<button type="button" class="btn btn-default performButton" data-ng-disabled="selectedPlates.length <= 0" data-ng-click="directToPage(stageNumberToUrl[stagePlates[0].stage], selectedPlates)">Perform selected</button>
				</div>
			</div>

			<table class="table table-striped">
				<tr>
					<td ng-show="showEdit"></td>
					<td>Plate Code</td>
					<td>Number of Samples</td>
					<td>
						<a data-ng-click="selectAll(stagePlates)">Select all</a>
					</td>
				</tr>

				<tr class="aPlate" ng-repeat="plate in stagePlates | orderBy:['plateCode', 'samples.length']:true" my-worklist-plate my-plate-object="plate" my-selected-plates="selectedPlates" my-plate-checked="plateChecked" my-clicked-not-on-checkbox="clickNotOnCheckBox" my-clicked-checkbox="clickCheckBox">
					<td class="removeButton" ng-show="showEdit" ng-click="remove(plate, stagePlates, selectedPlates)">Remove</td>
					<!--td class="revertButton" ng-show="showEdit" ng-click="remove(plate, stagePlates, selectedPlates)">Revert 1 Step</td-->
					<td data-ng-click="clickNotOnCheckBox()">{{plate.plateCode}}</td>
					<td data-ng-click="clickNotOnCheckBox()">{{plate.samples.length}}</td>
					<td>
						<input type="checkbox" value="checked" data-ng-model="plateChecked" data-ng-click="clickCheckBox()" >
					</td>
				</tr>
			</table>
		</div>
		<br>
	</div>
</section>
