<section data-ng-controller="WorklistController" data-ng-init="init()">
	<div class="page-header">
		<h1>Work List</h1>
	</div>
	<div class="container">
		<div class="boxed">
			<div>
				<h3>Normalization</h3>
				<button type="button" class="btn btn-default performButton">Perform selected</button>
			</div>
			<table class="table table-striped">
				<tr>
					<td>Plate Code</td>
					<td>Latest Step</td>
					<td>Number of Samples</td>
					<td></td>
				</tr>
				<tr class="aPlate">
					<td>3_020301_P1</td>
					<td>1</td>
					<td>96</td>
					<td>
						<input type="checkbox" value="checked">
					</td>
				</tr>
				<tr class="aPlate">
					<td>3_020301_P1</td>
					<td>1</td>
					<td>96</td>
					<td>
						<input type="checkbox" value="checked">
					</td>
				</tr>
				<tr class="aPlate">
					<td>3_020301_P1</td>
					<td>1</td>
					<td>96</td>
					<td>
						<input type="checkbox" value="checked">
					</td>
				</tr>
			</table>
		</div>

		<div class="boxed">
			<div>
				<h3>Quantification</h3>
				<button type="button" class="btn btn-default performButton">Perform selected</button>
			</div>
			<table class="table table-striped">
				<tr>
					<td>Plate Code</td>
					<td>Latest Step</td>
					<td>Number of Samples</td>
					<td></td>
				</tr>
				<tr class="aPlate">
					<td>3_020301_P2</td>
					<td>1</td>
					<td>96</td>
					<td>
						<input type="checkbox" value="checked">
					</td>
				</tr>
				<tr class="aPlate">
					<td>3_020301_P1</td>
					<td>1</td>
					<td>96</td>
					<td>
						<input type="checkbox" value="checked">
					</td>
				</tr>
				<tr class="aPlate">
					<td>3_020301_P1</td>
					<td>1</td>
					<td>96</td>
					<td>
						<input type="checkbox" value="checked">
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>
