.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

header{
	box-shadow: -2px 1.5px 5px rgba(0, 0, 0, 0.12);
	background: #2F6FAD;
}

header *{
	color: white;
}

.navbar-toggle > span{
	background-color: white;
}
