.boxed{
    position: relative;
    margin-top: 5px;
    border: 1px solid #A3A3A3;
}

.performButton{
    position: absolute;
    right: 10px;
    top: 15px;
}

.aPlate:hover{
    background: #dbdbdb;
    cursor: pointer;
}

.boxed table tr:not(:first-child):nth-child(odd):hover td{
    background: #dbdbdb;
}

h3{
    margin-left: 5px;
}

td{
    text-align: center;
    horiz-align: center;
    vertical-align: middle;
}

.doneButton:hover{
    cursor: pointer;
}

.removePlatesButton{
    float: right;
    position: relative;
}

.removePlatesButton:hover{
    cursor: pointer;
}

.removePlatesImage{
    margin: 0 auto;
    float: right;
    position: relative;
}

.selectAllButton:hover{
    cursor: pointer;
}
