.ngReactGrid .ngReactGridSearch input {
    height: 25px !important;
}
.bs-callout {
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin:auto;
    width:600px;
}

@media (min-width: 768px) {
    .field-listing dt {
        float: left;
        clear: left;
        text-align: left;
        white-space: nowrap;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .field-listing dd {
        display: block;
        padding-left: 120px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
dl {
    margin-top: 0;
    margin-bottom: 0;
}

.ngReactGridBody:hover{
    cursor: pointer;
}


.ngReactGrid table tr:hover{
    background: #dbdbdb;
}

.ngReactGrid table tr:nth-child(odd):hover td{
    background: #dbdbdb;
}
